@model IEnumerable<Core.Concretes.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-header">
        <h2>Products</h2>
        <p class="text-muted">List of products.</p>
    </div>
    <div class="card-body">

        <table class="table table-striped table-hover table-bordered">
            <thead class="text-center">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount Ratio
                    </th>
                    <th>
                        Tax Ratio
                    </th>
                    <th>
                        Create Date
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @if (item.Discounted)
                            {
                                <span class="text-success">@item.DiscountRatio</span>
                            }
                            else
                            {
                                <span class="text-danger">@item.DiscountRatio</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxRatio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            
                                

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
